* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-green: rgb(105, 189, 151);
  --color-white: rgb(255, 255, 255);
}
body {
  background-color: black;
  height: 100%;
  font-family: 'Inter', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 20px;
  gap: 100px;
}
.box {
  flex: 1;
  max-width: 500px;
}
.imagem img {
  max-width: 100%;
  height: auto;
}
.formulario .form {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.item {
  flex: 1;
  text-align: center;
}
.input {
  background-color: var(--color-green);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  outline: none;
}
.label {
  color: var(--color-white);
  display: block;
  margin-bottom: 5px;
  text-align: center;
}
.item,
.botao,
.botao-2 {
  margin-bottom: 30px;
}
.botao button,
.botao-2 button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--color-green);
  color: var(--color-white);
  cursor: pointer;
  border-radius: 5px;
}
.botao-2 button {
  background: none;
}
.btn {
  padding: 10px;
}

.rodape {
  margin-left: 130px;
  padding: 10px;
  color: var(--color-green);
  flex-wrap: wrap;
}

@media (max-width: 780px) {
  .container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imagem img {
    width: 50%;
  }

  .box {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item {
    width: 100%;
  }
  .botao button {
    margin-top: 20px;
  }
  .rodape {
    margin: 20px;
    font-size: 10px;
  }
}
