/* Reset e Estilos Globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Estilos para Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.navbar-brand {
  flex-grow: 1;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(105, 189, 151, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: #69bd97;
}

.icon-calendar,
.icon-bell {
  font-size: 24px;
  color: #69bd97;
}

.offcanvas .nav-link {
  color: #ffffff;
  font-family: Inter;
}

.offcanvas-body .nav-link.active {
  color: #ffffff;
}

/* Estilos para Dropdown */
.dropdown-menu {
  background-color: #222427;
  border-radius: none;
  padding-top: 0;
}

.dropdown-menu .dropdown-item {
  color: #dddddd;
  font-family: Inter;
}
.alert-item {
  background-color: #69bd97;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #333538;
}

.dropdown-arrow {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #69bd97;
}

.alert-item {
  text-align: center;
}

.badge {
  position: absolute;
  right: 4px;
  top: 2px;
  border-radius: 50%;
  background-color: #69bd97;
  color: white;
  font-size: 8px;
}
.notification-item {
  color: white;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.notification-icon {
  margin-right: 10px;
}

.custom-offcanvas {
  width: 158px;
  height: 258px;
  max-height: 258px;
}

/* Estilos para Busca */
.lupa {
  color: #69bd97;
  background-color: transparent;
  border: none;
}
.lupa:hover {
  background-color: transparent;
  color: #69bd97;
}
.bg-busca::placeholder {
  color: #ffffff;
  opacity: 1;
  font-family: Inter;
  align-items: center;
}

.bg-busca:focus,
.bg-busca:active {
  outline: none;
  background-color: transparent;
  box-shadow: 0 5px 10px -5px #69bd97;
}

.bg-busca {
  background-color: transparent;
  border: none;
  color: #ffffff;
}

/* Estilos para Imagens */
.rounded-circle {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center 20%;
}

/* Estilos para Perfil */
.t-perfil {
  color: #69bd97;
}

.t-perfil:hover {
  color: #69bd97;
}

/* Estilos para Perfil */
.perfil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 100px;
}
.profile-picture {
  position: relative;
  margin-bottom: 20px;
}
.profile-picture img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #69bd97;
  object-position: center 10%;
}

.alterar-foto {
  background-color: transparent;
  border: none;
  color: #dddddd;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 20px;
  font-size: 20px;
}
h1 {
  font-size: 24px;
  margin: 20px 0;
  color: #69bd97;
  letter-spacing: 2px;
}
.change-password,
.preferences {
  width: 100%;
  margin-bottom: 40px;
}
h2 {
  margin-bottom: 20px;
  color: #343c47;
  margin-bottom: 100px;
  font-size: 20px;
}
.form-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 24px;
  flex-wrap: wrap;
}
.input-group {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
  color: #dddddd;
}

.input-group input[type='password'] {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #aeafb0;
  outline: none;
  background-color: transparent;
  color: #aeafb0;
  transition: border-bottom 0.3s, box-shadow 0.3s;
}
.input-group input[type='password']:hover {
  border-bottom: 2px solid #69bd97;
  box-shadow: 0 5px 10px -5px #69bd97;
}
.form-group-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
}

button {
  background-color: transparent;
  border: none;
  color: #69bd97;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  border-bottom: 2px solid #2b2b2b;
  box-shadow: 0 5px 10px -5px #69bd97;
}

@media (max-width: 570px) {
  .navbar {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .navbar-brand {
    margin: 0 auto;
    text-align: center;
  }

  .nav {
    justify-content: space-between;
    width: 100%;
  }

  .nav-item {
    margin: 5px 0;
  }

  .navbar-toggler {
    margin-top: 0;
  }
}
