/* Reset e Estilos Globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222427;
  font-family: 'Inter', sans-serif;
  color: #69bd97;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px 20px;
  width: 100%;
}

.navbar-brand {
  flex-grow: 1;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(105, 189, 151, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: #69bd97;
}

.icon-calendar,
.icon-bell {
  font-size: 24px;
  color: #69bd97;
}

.offcanvas .nav-link {
  color: #ffffff;
}

.offcanvas-body .nav-link.active {
  color: #ffffff;
}

/* Estilos para Dropdown */
.dropdown-menu {
  background-color: #222427;
  border-radius: none;
  padding-top: 0;
}

.dropdown-menu .dropdown-item {
  color: #dddddd;
}

.alert-item {
  background-color: #69bd97;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #333538;
}

.dropdown-arrow {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #69bd97;
}

.alert-item {
  text-align: center;
}

.badge {
  position: absolute;
  right: 4px;
  top: 2px;
  border-radius: 50%;
  background-color: #69bd97;
  color: white;
  font-size: 8px;
}

.notification-item {
  color: white;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.notification-icon {
  margin-right: 10px;
}

.custom-offcanvas {
  width: 158px;
  height: 258px;
  max-height: 258px;
}

/* Estilos para Busca */
.lupa {
  color: #69bd97;
  background-color: transparent;
  border: none;
}

.lupa:hover {
  background-color: transparent;
  color: #69bd97;
}

.bg-busca::placeholder {
  color: #ffffff;
  opacity: 1;
}

.bg-busca:focus,
.bg-busca:active {
  outline: none;
  background-color: transparent;
  box-shadow: 0 5px 10px -5px #69bd97;
}

.bg-busca {
  background-color: transparent;
  border: none;
  color: #ffffff;
}

/* Estilos para Imagens */
.rounded-circle {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center 20%;
}

/* Estilos para Calendário */
.container-calendar {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.calendar-header h1 {
  margin-left: 55px;
  display: inline-block;
  border-bottom: 1px solid #2f59a5;
  color: #69be97;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

.calendar-mes {
  display: flex;
  align-items: center;
  background-color: #222427;
  color: #dddddd;
  padding: 20px;
  position: relative;
  font-size: 20px;
}

.arrow-left {
  margin-left: 14.28%;
}

.hoje-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.hoje {
  padding: 10px 20px;
  border: 1px solid #dddddd;
  background-color: transparent;
  color: #dddddd;
  cursor: pointer;
}
.hoje-container i {
  color: #ffffff;
}

.mes-ano {
  flex-grow: 1;
  text-align: center;
  position: relative;
}
.mes-ano i {
  color: #dddddd;
  margin-left: 50px;
}
.mes-ano-text {
  display: inline-block;
  border-bottom: 1px solid #dddddd;
  color: #dddddd;
  padding-right: 20px; /* Extende o traço até o ícone */
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dddddd;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  min-width: 200px;
  color: #2b2b2b;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  color: #2b2b2b;
}
.dropdown-header i {
  color: #2b2b2b;
}

.dropdown-months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dropdown-months a {
  color: #222427;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  flex: 1 0 25%; /* Quatro meses por linha */
}

.dropdown-months a:hover {
  background-color: #444;
}

.mes-ano:hover .dropdown {
  display: block;
}

.calendar-month-wrapper {
  width: 100%;
  background-color: #222427;
  padding: 10px 0;
}

.calendar-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #dddddd;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

.month {
  width: 14.28%;
  text-align: center;
}

.calendar-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0;
}

.container-calendar-day {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
  padding: 0;
}

.calendar-day {
  flex: 1 0 14.28%;
  height: calc(100% / 6); /* Assumindo 6 semanas no mês */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #343c47;
  color: #dddddd;
}

.next-month {
  background-color: #222427;
}

.evento {
  background-color: #343c47;
  text-align: center;
  padding: 20px;
  width: 20%;
  border: 1px solid black;
  margin: 0;
}

.descricao-evento {
  font-size: 1.2em;
}

.dia-evento {
  background-color: blueviolet;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .detalhe-video {
    padding: 15px;
  }
}

@media (max-width: 992px) {
  .detalhe-video {
    padding: 10px;
  }

  .conteudoVideo-tecnologia {
    padding: 10px;
  }
}

@media (max-width: 980px) {
  .detalhe-video {
    padding: 10px;
    margin: 0 20px;
  }

  .my-video {
    width: 100%;
    max-width: 700px;
  }
}

@media (max-width: 799px) {
  .detalhe-video {
    padding: 10px;
    margin: 0 10px;
  }

  .my-video {
    width: 100%;
    max-width: 600px;
  }

  .container-video {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: nowrap;
  }

  .navbar-brand {
    flex-grow: 1;
    text-align: center;
  }

  .nav {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .nav-item {
    margin: 10px 0;
  }

  .conteudoVideo-tecnologia {
    height: auto;
    padding: 20px;
  }

  .rodape {
    margin: 10px;
    font-size: 0.9em;
  }

  .detalhe-video {
    border-left: 2px solid #69bd97;
    text-align: center;
    margin: 0 10px;
  }

  .my-video {
    width: 100%;
    max-width: 600px;
  }

  .container-video {
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .detalhe-video {
    padding: 10px;
    margin: 0 10px;
  }

  .my-video {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .detalhe-video {
    padding: 5px;
    margin: 0 5px;
  }

  .my-video {
    width: 100%;
    max-width: 400px;
  }

  .rodape {
    margin: 5px;
    font-size: 0.8em;
  }
}

@media (max-width: 470px) {
  .navbar {
    flex-wrap: nowrap;
  }

  .navbar-brand {
    flex-grow: 1;
    text-align: center;
  }

  .nav {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .nav-item {
    margin: 10px 0;
  }
}
