* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222427;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.navbar {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px 20px;
}

.navbar-brand {
  flex-grow: 1;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(105, 189, 151, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: #69bd97;
}

.icon-calendar,
.icon-bell {
  font-size: 24px;
  color: #69bd97;
}

.offcanvas .nav-link {
  color: #ffffff;
}

.offcanvas-body .nav-link.active {
  color: #ffffff;
}

/* Estilos para Dropdown */
.dropdown-menu {
  background-color: #222427;
  border-radius: none;
  padding-top: 0;
}

.dropdown-menu .dropdown-item {
  color: #dddddd;
}

.alert-item {
  background-color: #69bd97;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #333538;
}

.dropdown-arrow {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #69bd97;
}

.alert-item {
  text-align: center;
}

.badge {
  position: absolute;
  right: 4px;
  top: 2px;
  border-radius: 50%;
  background-color: #69bd97;
  color: white;
  font-size: 8px;
}

.notification-item {
  color: white;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.notification-icon {
  margin-right: 10px;
}

.custom-offcanvas {
  width: 158px;
  height: 258px;
  max-height: 258px;
}

.lupa {
  color: #69bd97;
  background-color: transparent;
  border: none;
}

.lupa:hover {
  background-color: transparent;
  color: #69bd97;
}

.bg-busca::placeholder {
  color: #ffffff;
  opacity: 1;
}

.bg-busca:focus,
.bg-busca:active {
  outline: none;
  background-color: transparent;
  box-shadow: 0 5px 10px -5px #69bd97;
}

.bg-busca {
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.rounded-circle {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center 20%;
}

.t-perfil {
  color: #69bd97;
}

.t-perfil:hover {
  color: #69bd97;
}

.calendar-header {
  display: flex;
  margin-left: 55px;
  align-items: center;
}

.calendar-header h1 {
  margin-top: 80px;
  display: inline-block;
  border-bottom: 1px solid #2f59a5;
  color: #69be97;
  font-size: 20px;
}

.calendar-mes {
  display: flex;
  align-items: center;
  background-color: #222427;
  color: #dddddd;
  padding: 20px;
  position: relative;
  font-size: 20px;
}

.hoje-container {
  display: flex;
  align-items: center;
}

.hoje {
  padding: 10px 20px;
  border: 1px solid #dddddd;
  background-color: transparent;
  color: #dddddd;
  cursor: pointer;
}

.hoje-container i {
  color: #ffffff;
}

.mes-ano {
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.mes-ano i {
  color: #dddddd;
  margin-left: 50px;
}

.mes-ano-text {
  display: inline-block;
  border-bottom: 1px solid #dddddd;
  color: #dddddd;
  padding-right: 20px;
}

.calendar-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dddddd;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  min-width: 200px;
  color: #2b2b2b;
}

.calendar-dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  color: #2b2b2b;
}

.calendar-dropdown-header i {
  color: #2b2b2b;
}

.calendar-dropdown-months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calendar-dropdown-months a {
  color: #222427;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  flex: 1 0 25%;
}

.calendar-dropdown-months a:hover {
  background-color: #444;
}

.mes-ano:hover .calendar-dropdown {
  display: block;
}

.calendar-month-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.calendar-days-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.calendar-days-header .col,
.calendar-day {
  flex: 1;
  text-align: center;
  line-height: 40px; /* Alinha verticalmente */
  height: 40px; /* Mesma altura dos dias */
}

.calendar-days-header .col {
  color: #dddddd;
}

.calendar-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-calendar-day {
  display: flex;
  flex-wrap: wrap;
}

.calendar-day {
  flex: 1 0 14.28%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: #343c47;
  color: #dddddd;
  padding: 5px;
}

.next-month {
  background-color: #222427;
}

.evento {
  background-color: #343c47;
  text-align: center;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  margin: 0;
}

.event-day {
  display: flex;
  align-items: center;
  color: #69bd97;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.event-circle {
  width: 10px;
  height: 10px;
  background-color: #69bd97;
  border-radius: 50%;
  margin-right: 5px;
}

.descricao-evento {
  color: #dddddd;
  font-family: 'Inter', sans-serif;
}

.titulo-evento {
  background-color: #69bd97;
  color: #dddddd;
  padding-top: 20px;
}

.dia-evento {
  padding: 10px;
  border-radius: 5px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #4e846d black;
}

/* Estilos responsivos */
@media (max-width: 770px) {
  .container-calendar {
    margin-top: 60px;
    padding: 10px;
  }

  .calendar-month-wrapper {
    width: 100%;
  }
  .calendar-content {
    flex-direction: column;
    align-items: center;
  }

  .calendar-day {
    height: 100px;
  }
}
@media (max-width: 500px) {
  .nav-items {
    display: none !important;
  }
  .offcanvas .nav-items {
    display: block !important;
  }
}
@media (max-width: 503px) {
  .nav-items {
    display: none !important;
  }
  .offcanvas .nav-items {
    display: block !important;
  }
}
@media (min-width: 504px) {
  .offcanvas .nav-items {
    display: none !important;
  }
}
@media (max-width: 505px) {
  .nav-items {
    display: none !important;
  }
  .offcanvas .nav-items {
    display: block !important;
  }
  .badge {
    position: relative;
    top: -10px;
    right: 15px;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background-color: #69bd97;
    color: white;
    font-size: 10px;
    padding: 3px 6px;
    height: auto;
    width: auto;
    line-height: 1;
  }
}

@media (max-width: 330px) {
  .container-fluid {
    padding: 0 10px;
  }

  .navbar-brand img {
    width: 80px;
  }

  .nav-item a,
  .nav-item img {
    font-size: 12px;
  }

  .icon-calendar,
  .icon-bell {
    font-size: 18px;
  }

  .badge {
    font-size: 6px;
    top: -4px;
    right: -4px;
  }
}

@media (max-width: 480px) {
  .nav-item a,
  .nav-item img {
    font-size: 12px;
  }
  .container-calendar {
    padding: 5px;
  }

  .calendar-header {
    margin-left: 0;
    justify-content: center;
  }

  .calendar-header h1 {
    font-size: 16px;
  }

  .calendar-mes {
    flex-direction: column;
    font-size: 14px;
  }

  .hoje-container {
    margin-bottom: 5px;
    margin-bottom: 20px;
  }

  .mes-ano {
    text-align: center;
    margin-bottom: 5px;
  }

  .calendar-month-wrapper {
    width: 100%;
  }
  .calendar-content {
    flex-direction: column;
    align-items: center;
  }

  .calendar-day {
    height: 60px;
  }

  .evento {
    width: 100%;
  }
}

@media (max-width: 378px) {
  .mes-ano {
    text-align: center;
    margin-bottom: 2px;
  }

  .calendar-month-wrapper {
    width: 100%;
  }

  .calendar-content {
    flex-direction: column;
    align-items: center;
  }

  .calendar-days-header .col {
    padding: 5px 0;
    font-size: 12px;
    text-align: center;
    line-height: 40px; /* Alinha verticalmente */
  }

  .calendar-day {
    height: 40px;
    padding: 2px;
    font-size: 10px;
  }
}

@media (max-width: 340px) {
  .container-fluid {
    padding: 0 10px;
  }

  .navbar-brand img {
    width: 80px;
  }

  .nav-item a,
  .nav-item img {
    font-size: 12px;
  }

  .icon-calendar,
  .icon-bell {
    font-size: 18px;
  }

  .badge {
    font-size: 6px;
    top: -4px;
    right: -4px;
  }

  .container-calendar {
    padding: 2px;
  }

  .calendar-header {
    margin-left: 0;
    justify-content: center;
  }

  .calendar-header h1 {
    font-size: 14px;
  }

  .calendar-mes {
    flex-direction: column;
    font-size: 12px;
  }

  .hoje-container {
    margin-bottom: 20px;
  }

  .mes-ano {
    text-align: center;
    margin-bottom: 2px;
  }

  .calendar-month-wrapper {
    width: 100%;
    padding: 0;
  }

  .calendar-content {
    flex-direction: column;
    align-items: center;
  }

  .calendar-days-header .col {
    font-size: 12px;
    line-height: 40px;
  }

  .calendar-day {
    height: 40px;
    padding: 2px;
    font-size: 10px;
  }

  .evento {
    width: 100%;
  }
}
